body {
  font-family: 'Rubik', sans-serif;
  font-size: $fontsize-md;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $verydarkblue;
  color: $white;
}
