$wd-mobile: 375px;
$wd-desktop: 1024px;

$container-width: 1114px;
$container-height: 580px;
$card-width: 256px;
$card-height: 200px;
$card-height-sm: 124px;

$fontsize-xxl: 54px;
$fontsize-xl: 40px;
$fontsize-lg: 32px;
$fontsize-md: 18px;
$fontsize-sm: 14px;
$light: 300;
$bold: 500;

$radius-md: 12px;
$padding-md: 30px;

$white: #fff;
$semiwhite: rgba(255, 255, 255, 0.8);
$blue: hsl(246, 80%, 60%);
$red: hsl(15, 100%, 70%);
$softblue: hsl(195, 74%, 62%);
$lightred: hsl(348, 100%, 68%);
$limegreen: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$softorange: hsl(43, 84%, 65%);

$verydarkblue: hsl(226, 43%, 10%);
$darkblue: hsl(235, 46%, 20%);
$desaturatedblue: hsl(235, 45%, 61%);
$paleblue: hsl(236, 100%, 87%);
